@media only screen and (max-width: 600px) {
  .button-container {
    margin-right: 70vh;
  }

  .mr{
    margin-top: 15px;
  }

  .link-primary{
    margin-right: 39vh;
  }

  .item{
    display: block;
  }

  .card-container{
    display: none;
  }

  .dropdown_card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .list_card{
    margin-top: 20px;
  }
}

.custom{
  height: 165px;
}
